.App {
  /* display: flex;
  align-items: self-end;
  padding-top: 5rem;
  justify-content: space-around;*/
}

.todoList {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  margin: 5rem auto 0 auto;
}

.todo {
  border: 1px solid #999999;
  box-shadow: 2px 2px 10px #888888;
  margin-bottom: 1rem;
  padding: 1rem;
  min-width: 25rem;
  display: flex;
  justify-content: space-between;
}

.todo p {
  margin: 0;
}

.form input {
  width: 80%;
  margin: 1rem 0 0 0.5rem;
  padding: 1rem;
  box-shadow: 2px 2px 10px #888888;
  border: 1px solid #999999;
  border-radius: 20px;
  outline: none;
}
